.title {
    font-weight: bold;
    font-size: 300%;
    text-align: center; 
}

.movie-title {
    font-weight: bold;
    /* flex-wrap: wrap; */
    white-space: normal;
}
/* .body{
    background-color: yellow;
} */
.movies-grid{
    /* display:grid; */
    display:flex;
    flex-wrap: wrap;

}

.movie-card {
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content:space-around; */
    background-color: yellow;
    /* text-align:center;    */
    /* display: grid; */
}

/* 
    make a new container for all the movies to be held in and make that have display:grid

} */

