.title {
    font-weight: bold;
    font-size: 300%;
    text-align: center; 
}

.movieTitle {
    font-weight: bold;
}
/* .body{
    background-color: yellow;
} */

.movieClass {
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content:space-around; */
    background-color: yellow;
    /* text-align:center;    */
    /* display: grid; */
}
.body{
    display: grid;
}

