html{
    background-color: rgb(204, 70, 70);
}

.title {
    font-weight: bold;
    font-size: 300%;
    display: flex;
    justify-content: center;
    text-align: center; 
}

.movie-title {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}
/* .body{
    background-color: purple;
} */
.movies-grid{
    /* display:grid; */
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.movie-card {
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content:space-around; */
    background-color: lightyellow;
    /* text-align:center;    */
    /* display: grid; */
}

.movie-button {
    transition-duration: 0.4s;
}
  
.movie-button:hover { 
    background-color: #d17c32; 
    color: black;
}

.search-form{
    background-color: pink;
    display: flex;
    align-items: flex-end;
}

.load-more-movies-btn{
    background-color: black;
    color: white;
}